
:root{
  --main-color:#d1411e ;
}
html,
body {
  padding: 0;
  margin: 0;
font-family: 'Nunito', sans-serif;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}
* {
  box-sizing: border-box;
}
.error{
  height:44.8vh;
}
.nav{
  background-color: var(--main-color);
  min-width: 100%;
  z-index: 99;
}

.nav .logo svg{
    background-color: #fff;
    color: var(--main-color);
    width: 50px;
    height: 39px;
    border-radius: 21%;
}
.nav .cart{
    color: #fff;
    background-color: transparent;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
      cursor: pointer;
}

.nav .cart .num{
      font-size: 14px;
        width: 15px;
        height: 15px;
        background-color: #fff;
        color: var(--main-color);
        border-radius: 50%;
        position: absolute;
        top: -3px;
        right: -6px;
        display: flex;
        justify-content: center;
        align-items: center;
            padding: 8px;
}
.nav .navbar-toggler,
.nav .navbar-toggler-icon,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none;
  transition: 0.3s;
}
.nav .navbar-toggler-icon{
  background-image: url('../public/images/list.svg');
}
.nav .navbar-toggler-icon svg{
  color: #fff !important;
}
.nav .navbar-toggler:hover {
  background-color: #bd3c1c;
}
.nav .navbar-toggler-icon:hover{
  background-color: #bd3c1c;}

.header{
  height: 100vh;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
}
.header .text{
  line-height: 2.5;
  padding-bottom: 40px;
}
.header hr{
    background-color: #fff;
    width: 100%;
    height: 1px;
}
.header .carousel-indicators button{
  width: 10px;
  height: 10px;
  border-radius: 50%; 
}
@media (max-width:768px) {
  .carousel-control-prev,
  .carousel-control-next{
  display: none !important;
  }
}
.gallery .info h2{
color: var(--main-color);
}
.gallery .info p{
    font-weight: 700;
}

footer{
  background-color: #191919;
}
footer .icon{
margin-left: -20px;
}
footer h2{
  color: var(--main-color);
}
.product p:first-of-type{
  font-size: 16px;
  
}
.product .size,.product .Ingredients {
  color: #871111;
}


.product .size label,
.product .size input,
.product .Ingredients label,
.product .Ingredients input
{
  cursor: pointer;
}
.product input{
  width: 50px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-right: 10px;
  border-radius: 6px;
}
.product input:focus{
outline: none;
}
.product button{
  background-color: var(--main-color);

}
.product button:hover{
  background-color:#c23b19 ;
}
.cart .btn-primary{
  border-color: #c23b19;
}
.total{
      height: calc(100vh - 81px - 311px);
}
.total .total-info{
  padding: 20px;
  
}
.Toastify__close-button{
background-color: transparent !important;
}
.Toastify__toast-body{
font-size: 16px;
}
.cart-empty{
  padding-top:50px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 4;
}
.cart-empty svg{
  color: var(--main-color);
}
.total-info{
  border-bottom: 1px solid var(--main-color);
  background-color:#a33419;
  color: #fff;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  align-items: center;
}
.total-info ul:first-of-type{
  margin-top: 14px;
}
.total-price,
.total-price span {
  text-transform: uppercase;
  font-weight: bold;
}

.total-price span {
  color: var(--main-color);

}